.chart-list{
    .chart-group{
        display: flex;
        justify-content: space-between;
    }
    .box {
        max-width: 600px;
        margin: 50px auto;
    }
    .box.dark{
        background-color: #242424;
        color: white;
    }
}
