.chart-list{
    .row{
        margin: 100px auto;
    }
    .box.dark{
        background-color: #242424;
        color: white;
    }
    .cols3{
        display: flex;
        align-items: center;
    }
}
