<div class="chart-list main">
  <div class="row">
    <div class="box col-md-6" [ngClass]="{'dark': isDark()}">
      <div id="incomeOutcomeChart"></div>
    </div>
    <div class="box col-md-6" [ngClass]="{'dark': isDark()}">
      <div id="outcomePerType"></div>
    </div>
  </div>
  <div class="row">
    <div class="box col-md-6" [ngClass]="{'dark': isDark()}">
      <div id="amazonOutcomeChart"></div>
    </div>
    <div class="box col-md-6" [ngClass]="{'dark': isDark()}">
      <div id="salariesChart"></div>
    </div>
  </div>
  <div class="row">
    <div class="box col-md-6" [ngClass]="{'dark': isDark()}">
      <div id="incomeOutcomeChart1"></div>
      <div id="incomeOutcomeChart2"></div>
    </div>
  </div>
</div>