.chart-list{
    .box {
        max-width: 600px;
        //background-color: #2B2D3E;
        display: flex;
        margin: 50px auto;
    }
    .box.dark{
        background-color: #242424;
        color: white;
    }
}
