<div class="chart-list">
  <div class="chart-group">
    <div class="box" [ngClass]="{'dark': isDark()}">
      <div id="incomeOutcomeChart"></div>
    </div>
    <div class="box" [ngClass]="{'dark': isDark()}">
      <div id="outcomePerType"></div>
    </div>
  </div>
  <div class="chart-group">
    <div class="box" [ngClass]="{'dark': isDark()}">
      <div id="amazonOutcomeChart"></div>
    </div>
    <div class="box" [ngClass]="{'dark': isDark()}">
      <div id="salariesChart"></div>
    </div>
  </div>
</div>